<footer id="contact" class="py-6 px-8 md:px-24 bg-(--deep-blue) text-(--cream)">
    <div class="max-w-6xl mx-auto">
        
        <div class="flex flex-col md:flex-row justify-between items-start md:items-center border-b border-(--stone)/50 pb-6 mb-6">
            
            <div class="mb-4 md:mb-0 flex flex-col justify-center">
                <h3 class="text-2xl font-bold mb-1 text-(--cream)">PAULIŃSKA 16</h3>
                
                <address class="text-sm text-(--stone) not-italic flex flex-col">
                    <span class="font-semibold mb-1">Inwestycja Paulińska Sp. z o.o.</span>
                    <span>Starowiślna 82 / 3, 31-035 Kraków, Polska</span>
                    <span>NIP: 6793248062 | REGON: 523089937</span>
                </address>
                
                <div class="text-sm text-(--stone) not-italic flex flex-col mt-2">
                    <span>T: +48 123 456 789</span>
                    <span><a href="mailto:contact@paulinaska16.pl" class="hover:text-(--terracotta) transition-colors">E: contact@paulinaska16.pl</a></span>
                </div>
            </div>

            <ul class="flex flex-col space-y-1 text-sm text-(--cream) font-semibold">
                <li><a href="/#about" class="hover:text-(--terracotta) transition-colors">O Nas</a></li>
                <li><a href="/apartments" class="hover:text-(--terracotta) transition-colors">Apartamenty</a></li>
                <li><a href="/location" class="hover:text-(--terracotta) transition-colors">Lokalizacja</a></li>
                <li><a href="/contact" class="hover:text-(--terracotta) transition-colors">Kontakt</a></li>
            </ul>
        </div>

        <div class="flex flex-col md:flex-row justify-between items-center text-xs">
            <p class="text-(--stone)">
                © {new Date().getFullYear()} Inwestycja Paulińska Sp. z o.o.
            </p>
            
            <p class="text-(--stone) text-right">
                Łącząc historyczny urok Krakowa z przyszłością luksusowego życia.
            </p>
        </div>
    </div>
</footer>